買家頁面
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <hr />
    <div id="main">
        <div id="list" v-if="UI == 'main'">
            <h1>商品列表</h1>
            <table border="1">
                <tr><td>編號</td><td>商品名稱</td><td>商品說明</td><td>單價</td><td>數量</td><td>總價</td><td>刪除</td></tr>
                <tr v-for="shop in dat">
                    <td>{{ shop.id }}</td>
                    <td>{{ shop.goodName }}</td>
                    <td>{{ shop.goodContent }}</td>
                    <td>{{ shop.price }}</td>
                    <td>{{ shop.buyNum }}</td>
                    <td>{{ shop.totalPrice }}</td>
                    <td><button @click="addToCart()">加入購物車</button></td>
                </tr>
            </table>
            <button @click="loadCart()">查看購物車</button>
        </div>

        <div v-if="UI == 'cart'">
            <h1>購物車清單</h1>
            <button @click="loadList()">回商品主頁</button>
            <table border="1">
                <tr><td>編號</td><td>商品名稱</td><td>數量</td><td>單價</td><td>總價</td><td>移除</td></tr>
                <tr v-for="shop in cart">
                    <td>{{ shop.id }}</td>
                    <td>{{ shop.goodName }}</td>
                    <td>{{ shop.Quantity }}</td>
                    <td>{{ shop.price }}</td>
                    <td>{{ shop.totalPrice }}</td>
                    <td><button @click="removeFromCart(shop.id)">移除</button></td>

                </tr>
            </table>
            <td><button @click="checkout()">結帳</button></td>
        </div>
    </div>

    <script>
        const todoApp = Vue.createApp({
            data() {
                return {
                    UI: 'main',
                    dat: [],
                    cart: [],
                    newJob: {
                        id: -1,
                        goodName: '',
                        goodContent: '',
                        price: '',
                        buyNum:'',
                        totalPrice:''
                    }
                };
            },
            methods: {
                loadList: function () {
                    this.UI = 'main';
                    this.loadProducts(); // Load product data from PHP backend
                },
                loadCart: function () {
                    this.UI = 'cart';
                },
                // addToCart: function (product) {
                //     // Implement logic to add product to cart
                // },
                addToCart: function () {
                    const that=this;
                    let mydat = new FormData();
                    mydat.append( "dat", JSON.stringify(this.newJob) );

                    let url="todoControl.php?act=addJob";
                    fetch(url,{
                        method: 'POST',
                        body: mydat // 將表單物件放入fetch的body屬性
                    })
                    .then(function(res){return res.text(); }) //取得傳回值，轉為文字
                    .then(function(data){ 
                        console.log(data);
                        that.setUI('main');
                        that.loadList();
                    })
                },
                // removeFromCart: function (productId) {
                //     // Implement logic to remove product from cart
                // },
                removeFromCart: function (id) {
                    const that=this;
                    let url="todoControl.php?act=delJob&id="+id;
                    fetch(url,{
                        method: 'POST'
                    })
                    .then(function(res){return res.text(); }) //取得傳回值，轉為文字
                    .then(function(data){
                        console.log(data);
                        that.loadList();
                    })
                },
                loadProducts: function () {
                    const that = this;
                    fetch('todoControl.php?act=listJob')
                        .then(function(response) {
                            return response.json();
                        })
                        .then(function(myJson) {
                            that.dat = myJson;
                        });
                },
                gettotal: function () {
                    const that = this;
                    fetch('todoControl.php?act=gettotal')
                        .then(function(response) {
                            return response.json();
                        })
                        .then(function(myJson) {
                            that.dat = myJson;
                        });
                },
                checkout: function () {
                    const that = this;
                    fetch('todoControl.php?act=checkout')
                        .then(function(response) {
                            return response.json();
                        })
                        .then(function(myJson) {
                            that.dat = myJson;
                        });
                },

            },
            created() {
                this.loadProducts();
            },
        }).mount("#main");
    </script>
</body>
</html>
