<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://unpkg.com/vue@3.0.11"></script>
</head>

<body>
    <div id="main">
        <div v-if="orderStatus === 'pending'">
            <h1>訂單狀態: 待處理</h1>
            <button @click="processOrder(job.id)">處理訂單</button>
        </div>

        <div v-else-if="orderStatus === 'shipped'">
            <h1>訂單狀態: 已寄送</h1>
            <button @click="deliverOrder(job.id)">訂單已送達</button>
        </div>

        <div v-else-if="orderStatus === 'delivered'">
            <h1>訂單狀態: 已送達</h1>
            <p>感謝您選擇我們運送，期待再次為您服務。</p>

        </div>
        <div v-else-if="UI == 'bought_products'">
            <h1>已結帳清單</h1>
            <button @click="loadList()">回商品主頁</button>
            <table border="1">
                <tr><td>編號</td><td>商品名稱</td><td>數量</td><td>單價</td><td>總價</td><td>運送狀況</td></tr>
                <tr v-for="job in cart">
                    <td>{{ job.id }}</td>
                    <td>{{ job.goodsName }}</td>
                    <td>{{ job.buyNum }}</td>
                    <td>{{ job.price }}</td>
                    <td>{{ job.totalPrice }}</td>
                    <td>{{ job.orderStatus }}</td>
                </tr>
            </table>
        </div>
</div>

    <script>
        const status = Vue.createApp({
            data() {
                return {
                    orderStatus: 'pending'
                };
            },
            methods: {
                processOrder: function (id) {
                    const that = this;
                    const newStatus = 'shipped';  // 替換為實際的新狀態

                    fetch(`control.php?act=updateOrderStatus&orderId=${id}&newStatus=${newStatus}`)
                        .then(function(response) {
                            return response.json();
                        })
                        .then(function(data) {
                            console.log(data);
                        });
                },
                deliverOrder: function (id) {
                    const that = this;  
                    const newStatus = 'delivered'; 

                    fetch(`control.php?act=updateOrderStatus&orderId=${id}&newStatus=${newStatus}`)
                        .then(function(response) {
                            return response.json();
                        })
                        .then(function(data) {
                            console.log(data);  // 處理後端返回的數據
                        });
                },

            }
        }).mount("#main");
    </script>
</body>
</html>
