<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="https://unpkg.com/vue@next"></script>
</head>

<body >
<div id="main">
<div id="list" v-if="UI=='main'">
	<h1>Start shopping</h1>
	<button @click="setAddUI()">新增商品</button>
	<table border=1>
		<tr><td>序號</td><td>商品名稱</td><td>商品介紹</td><td>商品價格</td><td>總庫存</td><td>庫存剩餘數量</td><td>-</td></tr>
		<tr v-for="job in dat">
			<td>{{job.id}}</td>
			<td>{{job.goodsName}}</td>
			<td>{{job.goodsContent}}</td>
			<td>{{job.price}}</td>
			<td>{{job.totalQuantity}}</td>
			<td>{{job.Quantity}}</td>
			<td><button @click="delJob(job.id)">刪</button><button @click="setEditUI(job)">改</button></td>
		</tr>
	</table>
</div>
<div v-if="UI=='addForm'">
	商品名稱: <input type="text"  v-model="newJob.goodsName"/> <br/>

	商品介紹: <textarea v-model="newJob.goodsContent"></textarea><br>
	
	商品價格: <input type="text"  v-model="newJob.price"/> <br/>
	
	總庫存: <input type="text"  v-model="newJob.totalQuantity"/> <br/>

	<input type='button' @click="addJob()" value="save">
</div>
</div>
<script>
const shopApp= Vue.createApp({
	data() {
		return {
			UI: 'main',
			dat: [],
			newJob: {
				id: -1,
				jobName: '',
				jobContent: '',
				price: '',
                quantity: 0,
                buyNum: 0
			}
		}
	},
	methods: {
		loadList: function () {
			const that=this; //this  ==> stands for vm6. let's save `this` to `that`
			fetch('control.php?act=listJob')
			.then(function(response) {
				return response.json();
			})
			.then(function(myJson) {
				//we are inside the callback function, now `this` means the function, not vm6
				//we will use `that` to access vm6
				that.dat = myJson;
				//vm6.dat = myJson;
				for (let i = 0; i < that.dat.length; i++) {
                    that.dat[i].quantity = that.dat[i].totalQuantity - that.dat[i].buyNum;
                }
                console.log(that.dat);
			});
		},
		delJob: function (id) {
			const that=this;
			let url="control.php?act=delJob&id="+id;
			fetch(url,{
				method: 'POST'
			})
			.then(function(res){return res.text(); }) //取得傳回值，轉為文字
			.then(function(data){
				console.log(data);
				that.loadList();
			})
		},
		setEditUI: function(job) {
			this.newJob=job;
			this.setUI('addForm');
		},
		addJob: function () {
			const that=this;
			let mydat = new FormData();
			mydat.append( "dat", JSON.stringify(this.newJob) );

			let url="control.php?act=addJob";
			fetch(url,{
				method: 'POST',
				body: mydat // 將表單物件放入fetch的body屬性
			})
			.then(function(res){return res.text(); }) //取得傳回值，轉為文字
			.then(function(data){ 
				console.log(data);
				that.setUI('main');
				that.loadList();
			})
		},
		setAddUI: function() {
			this.newJob={
				id: -1,
				jobName: '',
				jobContent: '',
				price: '',
                quantity:0,
                buyNum: 0
			};
			this.setUI('addForm');
		},
		setUI: function(page) {
			this.UI=page;
		}
	},
	created() {
		this.loadList();
	}
}).mount("#main");
</script>
</body></html>